<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-title>View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1> View Employee </h1>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label><strong>Name: </strong> {{emp.Name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Gender: </strong> {{emp.Gender}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Date of Birth: </strong> {{emp.Birthdate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Department: </strong> {{emp.Department}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Marital Status: </strong> {{emp.MaritalStatus}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Role: </strong> {{emp.Role}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Notes: </strong> {{emp.Notes}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
 <ion-footer>
    <ion-button class="custom-button" slot="start" color="primary" fill="clear" (click)="closeModal(false)">Close</ion-button>
    <ion-button class="custom-button" float-right slot="fixed" color="primary" fill="clear" (click)="closeModal(true)">Edit</ion-button>
</ion-footer>