<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-title>View Employee Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><strong>Name: </strong> {{emp.fullname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Gender: </strong> {{emp.gender}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Date of Birth: </strong> {{displayDate(emp) | date: 'longDate' }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Department: </strong> {{emp.department}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Marital Status: </strong> {{emp.marital_status}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Role: </strong> {{emp.employee_role}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><strong>Notes: </strong> {{emp.notes}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
 <ion-footer>
    <ion-button class="custom-button" slot="start" color="primary" fill="clear" (click)="closeModal(false)">Close</ion-button>
    <ion-button class="custom-button" float-right slot="fixed" color="primary" fill="clear" (click)="closeModal(true)">Edit</ion-button>
</ion-footer>