<ion-header>
    <ion-toolbar text-center color="primary">
        <ion-title>Edit Employee Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input [(ngModel)]="emp.fullname" (ionChange)="checkValue($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="emp.gender" (ionChange)="checkValue($event)" value="Select One." okText="Okay" cancelText="Dismiss">
                <ion-select-option value="Male">Male</ion-select-option>
                <ion-select-option value="Female">Female</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Date of Birth</ion-label>
            <ion-datetime [(ngModel)]="emp.birthdate" (ionChange)="checkValue($event)" placeholder="Click to enter date." slot="end"
                display-format="MMM DD, YYYY"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Department</ion-label>
            <ion-list>
                <ion-radio-group [(ngModel)]="emp.department" (ionChange)="checkValue($event)">
                    <ion-item>
                        <ion-label style="margin-right:10px;">Accounting</ion-label>
                        <ion-radio value="Accounting"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label style="margin-right:10px;">Engineering</ion-label>
                        <ion-radio value="Engineering"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label style="margin-right:10px;" >Human Resources</ion-label>
                        <ion-radio value="Human Resources"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label style="margin-right:10px;">Information Technology</ion-label>
                        <ion-radio value="IT"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-label>Married (check if yes) </ion-label>
            <ion-checkbox slot="end" [(ngModel)]="maritalStatus" (ionChange)="checkValue($event)">Married</ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Role</ion-label>
            <ion-select [(ngModel)]="emp.employee_role" (ionChange)="checkValue($event)" value="Select One" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="Administrator">Administrator</ion-select-option>
                <ion-select-option value="Officer">Officer</ion-select-option>
                <ion-select-option value="Secretary">Secretary</ion-select-option>
                <ion-select-option value="Employee">Employee</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea [(ngModel)]="emp.notes" (ionChange)="checkValue($event)" placeholder="Enter any notes."></ion-textarea>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-button class="custom-button" slot="start" color="primary" fill="clear" (click)="presentAlertConfirm()">Cancel
    </ion-button>
    <ion-button class="custom-button" float-right slot="fixed" color="primary" fill="clear" (click)="closeModal(true)">
        Save</ion-button>
</ion-footer>