@media (max-width: 576px) {
    .hide-xs {
      display: none;
    }
}
 
@media (min-width: 576px) and (max-width: 768px) {
    .hide-sm {
      display: none;
    }
}

.new-background-color{
  --background: #0692f0;
}

.buttonsColor{
 color: #a0bdcc;
}

.odd{
  background-color: white;
}
.even{
  background-color: rgb(226, 242, 248);
}