<ion-header>
  <ion-toolbar>
    <ion-title>View Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label>Full Name</ion-label>
    <ion-input value={{name}} disabled="true"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Incident Title</ion-label>
    <ion-input value={{inciName}} disabled="true"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date: </ion-label>
    <ion-input value={{date}} disabled="true"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Incident Category: </ion-label>
    <ion-input value={{inciCat}} disabled="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Domain: </ion-label>
    <div *ngFor="let entry of dom;">
      <p [hidden]="!entry.isChecked" style="margin-right: 10px;">{{entry.val}} </p>
    </div>
  </ion-item>

  <ion-item>
    <ion-label>Priority: </ion-label>
    <ion-input value={{prior}} disabled="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description: </ion-label>
    <ion-input value={{desc}} disabled="true"></ion-input>
  </ion-item>



</ion-content>
<ion-footer style="text-align:center;">
  <ion-toolbar class="footer-center">
    <div>
      <ion-button fill="clear" (click)="closeView()">close</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>