<ion-header>
  <ion-toolbar>
    <ion-title>Secretary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="true" [(ngModel)]="devWidth" ngDefaultControl (window:resize)="onResize($event)"></div>
  <ion-grid>
    <ion-row style="text-align:center" align-items-center> 
      <ion-col [hidden]="devWidth <  700" size="2" style="text-align:center"> 
        <div>
          <ion-label>ID</ion-label>
        </div>
      </ion-col>
      <ion-col [size]="devWidth <  700?4:2">
        <ion-label>Domain</ion-label>
      </ion-col>

      <ion-col [hidden]="devWidth <  700" size="2">
        <div>
          <ion-label>Date</ion-label>
        </div>
      </ion-col>
      <ion-col [size]="2">
          <ion-chip (click)="switch_priority_order?sortbyascPriority():sortbydescPriority()">
            <ion-label>Priority</ion-label>
          </ion-chip>
        </ion-col>
      <ion-col size="2">
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of incident_array"  style="text-align:center">
      <ion-col [hidden]="devWidth <  700" size="2">
        <div>
          {{row.id }}
        </div>
      </ion-col>
      <ion-col [size]="devWidth <  700?4:2">
        <div>
          <div *ngFor="let element of row.checkBoxList|jsonParse">
            <div *ngIf="element.isChecked | jsonParse">
              {{element.value}}
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col [hidden]="devWidth <  700" size="2" style="text-align:center">
        <div>
          {{row.date | date:'yyyy-MM-dd'}}
        </div>
      </ion-col>
      <ion-col size="2">
          <div>
            {{row.priority}}
          </div>
        </ion-col>
      <ion-col [size]="devWidth <  700?3:2">
        <ion-button expand="block" (click)="assignModal(row.id)">Assign</ion-button>

      </ion-col>
      <ion-col [size]="devWidth <  700?3:2">
        <ion-button expand="block" (click)="viewModal(row.id)">View</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>