<ion-header>
  <ion-toolbar>
    <ion-title>Secretary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
         ID
        </div>
      </ion-col>
      <ion-col>
        <div>
          Type
        </div>
      </ion-col>
      <ion-col>
        <div>
          Priority
        </div>
      </ion-col>
      <ion-col>
        <div>
          Date
        </div>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        </ion-col>
    </ion-row>
    <ion-row  *ngFor="let row of array" align-items-center >
        <ion-col >
            <div>
             {{row.id }}
            </div>
          </ion-col>
          <ion-col>
            <div>
             {{row.type}}
            </div>
          </ion-col>
          <ion-col>
            <div>
             {{row.priority}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{row.date}}
            </div>
          </ion-col>
                <ion-col>
<ion-button expand="block">Assign</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">view</ion-button>
              </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
