<!-- <ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Modal Popup Example
    </ion-title>
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administrator
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--  
<ion-content text-center>
  <div class="ion-padding">
    <h2>Create User</h2>
  </div>
 
    <ion-button color="primary" (click)="openModal()">Login</ion-button>
 
    <p *ngIf="dataReturned">{{dataReturned}}</p>
 
 
</ion-content> -->


<ion-content text-center>
    <div class="ion-padding">
        <h2>Create User</h2>
    </div>
    <ion-button color="primary" href="create-user">Create User</ion-button>
</ion-content>

<ion-content text-center>
    <div class="ion-padding">
        <h2>Assign Role</h2>
    </div>
    <ion-button color="primary" href="assign-role">Assign Role</ion-button>
</ion-content>

<!-- 
<ion-content text-center>
  <div class="ion-padding">
    <h2>Assign Roles</h2>
  </div>
 
    <ion-button color="primary" (click)="openModal()">Login</ion-button>
 
    <p *ngIf="dataReturned">{{dataReturned}}</p>
 
 
</ion-content> -->