<ion-header>
  <ion-toolbar color="primary">
    <ion-title>View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label slot>Employee Name</ion-label>
    <ion-list>
      <ion-label>{{emp}} </ion-label>
    </ion-list>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="date" readonly="true"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1;">Priority</ion-label>
    <ion-select disabled='true' [(ngModel)]="priority" value={{priority}} okText="OK" cancelText="Cancel"
      style="opacity:1;">
      <ion-select-option value="Low">Low</ion-select-option>
      <ion-select-option value="Medium">Medium</ion-select-option>
      <ion-select-option value="High">High</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1;">Domain</ion-label>

    <ion-list>
      <ion-item *ngFor="let item of domain">
        <ion-label style="opacity:1;">{{item.val}}</ion-label>
        <ion-checkbox slot="start" disabled='true' style="opacity:1;" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-button fill="clear" float-right (click)="close()">Cancel</ion-button>
</ion-footer>