// ion-button {padding: 5px 10px;}

@media (max-width:  576px) {
    .hide-sm {
      display: none;
    }
}


@media (max-width: 768px) {
    .hide-md {
      display: none;
    }
}

ion-grid {
--ion-grid-padding: 15px;
}

.bottomRow
{
  margin-bottom: 20px;
  background-color:#cccccc;
  
}

.bottomRow1
{
  margin-bottom: 20px;
}

