<ion-header>
  <ion-toolbar>
    <ion-title>Officer</ion-title>
    <ion-select [(ngModel)]="priority" text-right (ionChange)="onChange()" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Filter by">
      <ion-select-option value="ViewAll">View All</ion-select-option>
      <ion-select-option value="Low">Low</ion-select-option>
      <ion-select-option value="Medium">Medium</ion-select-option>
      <ion-select-option value="High">High</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-item>
    <ion-col size="2">
      <strong><ion-label>ID</ion-label></strong>
    </ion-col>
    <ion-col size="2">
        <strong><ion-label>Priority</ion-label></strong>
    </ion-col>
    <ion-col size="2">
        <strong><ion-label>Date</ion-label></strong>
    </ion-col>
    <ion-col size="2">
        <strong><ion-label>Domain</ion-label></strong>
    </ion-col>
    <ion-col size="2">
        <ion-label></ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label></ion-label>
    </ion-col>
  </ion-item>

  <ng-container *ngFor="let entry of task_filtered;">
  <ion-item *ngIf="entry.username==myuser.user">
    <ion-col size="2">
        <ion-label>{{entry.id}}</ion-label>
    </ion-col>
    <ion-col size="2"> 
        <ion-label>{{entry.priority}}</ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label>{{entry.date.split("T",1)}}</ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label>{{entry.domain}}</ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-button color="dark" (click)="presentModalReassign(findTaskIndex(entry.id))">Edit Task</ion-button>
    </ion-col>
    <ion-col size="2">
        <ion-button color="dark" (click)="presentModalView(findTaskIndex(entry.id))">View Task</ion-button>
    </ion-col>  
    </ion-item>
  </ng-container> 
</ion-grid> 
</ion-content>