<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm>
        <div>
          <ion-button href = "/employee" color = "dark" expand="block">Employee</ion-button>
        </div>
      </ion-col>
      <ion-col size="6" size-sm>
        <div>
          <ion-button color = "dark" expand="block">Admin</ion-button>
        </div>
      </ion-col>
      <ion-col size="6" size-sm>
        <div>
          <ion-button color = "dark" expand="block">Officer</ion-button>
        </div>
      </ion-col>
      <ion-col size="6" size-sm>
        <div>
          <ion-button color = "dark" expand="block">User</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
